.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: transparent;
  padding: 0;
  transition: opacity linear 0.2s;
  cursor: pointer;
  line-height: 1.21;
}

.button:hover {
  opacity: 60%;
}

.button_edit {
  background: url("../images/edit_icon.svg") center no-repeat;
  background-size: 10px;
  border: 1px solid #fff;
  height: 24px;
  width: 24px;
}

.button_close {
  background: url("../images/close_icon.svg") center no-repeat;
  height: 40px;
  width: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
}

.button_popup-submit {
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  width: 100%;
  height: 50px;
  margin: 48px 0 0 auto;
}

.button_popup-submit:hover {
  opacity: 80%;
}

.button_popup-submit:disabled {
  cursor: default;
  background-color: transparent;
  border: 1px solid #00000033;
  color: #00000033;
}

.button_popup-submit_disabled:disabled {
  cursor: default;
  background-color: #000;
  color: #fff;
}

.button_popup_confirmation {
  margin-top: 0;
}

.button_add {
  background: url("../images/add_icon.svg") center no-repeat;
  background-size: 22px;
  border: 1px solid #fff;
  width: 150px;
  height: 50px;
  margin: 0 0 0 auto;
}

.button_remove {
  position: absolute;
  top: 18px;
  right: 15px;
  background: url("../images/remove_icon.svg") center no-repeat;
  background-size: 19.3px 18px;
  height: 19.3px;
  width: 18px;
}

.button_like {
  background: url("../images/like_icon.svg") center no-repeat;
  background-size: 21px 19px;
  height: 19px;
  width: 21px;
  transition: background linear 0.3s;
}

.button_like:active {
  background: url("../images/like_icon_active.svg") center no-repeat;
}

.button_like_activate {
  background: url("../images/like_icon_active.svg") center no-repeat;
}

@media screen and (max-width: 590px) {
  .button_edit {
    background-size: 7.5px;
    height: 18px;
    width: 18px;
  }

  .button_close {
    background-size: 26px;
    height: 26px;
    width: 26px;
    right: 5px;
    top: -45px;
  }

  .button_close-card-image {
    background-size: 30px;
    height: 30px;
    width: 30px;
    top: -30.21px;
    right: -30.21px;
  }

  .button_popup-submit {
    height: 46px;
    font-size: 14px;
    margin-top: 46px;
  }

  .button_popup_confirmation {
    margin-top: 0;
  }

  .button_add {
    background-size: 16px;
    margin: 36px auto 0;
    width: 88.125vw;
    max-width: 282px;
  }
}
